body
{
    font-family:'Roboto', sans-serif;
    text-rendering: geometricPrecision;
}

.highlights
{
    font-size:20px;
    font-weight:900;
}

.right-col
{
    font-size:5vw;
    flex-direction: column;
    justify-content: center;
}